<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Image:</strong>

  <%= image_tag(@artist.image) =%>

  <div>
    <h2>All songs from this artist</h2>
  </div>
</p>

<ul>

  <hr/>
  <% @songs.each do |song| %>
  <li>
    <%= song.name %> <%= link_to "Delete Song", song_path(song), method: :delete, data: { confirm: "Are you sure you about this? " } %>
  </li>
  <% end %>
  <%= form_for [@song, @artist ] do |f| %>
  <div class="form-group">
    <label>Song</label>
    <div class="form-group">
  <label>Song name</label>
  <%= f.text_field :name, placeholder: "Song_name", class: "form-control" %>
</div>
</div>

<% end %>

  <hr/>

</ul>



<%= link_to 'Back', artists_path %>
